.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }//end .text-content

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }//end img
    }//end .img-content
  }//end .content-section

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }//end .text-content

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }//end .img-content
  }//end .inverse-content

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }//end img
  }//end .content-destination

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }//end .destination
  }//end .content-pick

  header {
    border-bottom: 1px dashed @navigation-border;

    div {
      margin: 2% 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }//end div

    .extend {
      position: relative;
      right: 5%;
      max-width: 1000px;
      width: 110%;
      margin: auto;
    }

    img {
      border-top: 1px dashed @navigation-border;
      padding: 0 4%;
    }//end img

    section {
      padding: 2% 0;
    }//end section
  }//end header
}//end .home

.btn {
  .btn ();
}